$text_color: #1e0547;
$active_color: #1e0547;
$blue: #4cb5d2;
$blue_hover: #42a7c4;
$gray: #e1e1e1;
$footer_color: #32325d;

$header_skew: skew(0, 4.8deg);

%header_unskew {
    transform: skew(0, -4.8deg) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
} 

$persp: rotateX(2deg) rotateZ(-10deg) rotateY(42deg);

$font_path: '../../fonts/';

$socials: ( //class: image
    'ln': 'ln',
    'yt': 'yt',
    'tw': 'tw',
    'fb': 'fb',
    'inst': 'inst',
);

$linesColors: (
    1: #5f49d2,
    2: #4cb5d2,
    3: #f87979,
    4: #e9921b,
    5: #f06edc,
    6: #00aeef,
    7: #f87979,
    8: #836cfe,
    9: #47b6d4,
    10: #02a0fa,
    11: #f68e56,
    12: #f7941d
);