<header class="header">
    @@include("../navigation/navigation.html")
    <div class="header__container">
        <div class="header__content">
            <div class="title header__title">
                Personalization WordPress Plugin
            </div>
            <div class="header__description">
                Display Different Content to Different People
            </div>
            <div class="header__offer">
                <a href="#" class="try_it try_it--button">
                    <span class="try_it__text">
                        Try it free
                    </span>
                    <span class="try_it__arrow-container">
                        <span class="try_it__arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25">
                                <path fill="#fff"
                                    d="M13.758 25l-2.12-2.167 8.62-8.808H.003v-3.06h20.255l-8.62-8.808 2.12-2.164 12.238 12.503z" />
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="header__left-cloud"></div>    
    <svg class="header__object" xmlns="http://www.w3.org/2000/svg" width="1140" height="764" viewBox="0 0 1140 764">
        <path id="shape" fill="#fbe7e6"
            d="M-7 670.965s6.218-31.91 32.278-60.505c18.38-20.168 58.28-34.063 71.803-55.538 24.707-39.235-6.35-76.23 27.72-130.013 21.771-34.366 110.353-60.895 131.801-95.464 20.308-32.732-18.253-98.14 25.554-151.936 56.934-69.918 159.653-27.68 201.736-59.162 26.882-20.11 51.71-86.685 72.625-112.944 19.277-24.2 60.52-48.402 60.52-48.402l498.961 1.345-2.69 806.654z" />

        <g id="right_upper_cloud" opacity=".3">
            <path fill="#f2a8a7"
                d="M983.9 148.715c-1.39 5.266-8.126 16.441-13.497 17.021-62.984 6.81-275.555 4.54-316.045 0-5.198-.583-15.526-7.382-16.87-12.482-3.558-13.502 9.168-47.272 22.494-51.065 21.932-6.24 30.926 9.308 40.49 5.674 7.649-2.907 13.307-23.61 21.37-24.965 23.618-3.972 26.768 16.283 37.677 15.32 13.737-1.214 16.871-26.667 43.302-28.937 10.987-.944 30.616 15.564 41.614 14.752 23.057-1.703 20.817-40.069 60.735-41.986 35.428-1.703 59.472 36.09 70.856 55.603 6.496 11.134 11.168 38.58 7.873 51.065z" />
            <!-- <animate begin="1s" dur="2s" attributeName="d" from="0" to="-500" repeatCount="5"/> -->
        </g>
        <g id="right_cloud" opacity=".39">
            <path fill="#f2a8a7"
                d="M942.784 256.863c-8.2 0-8.477-14.696-7.175-18.456 2.934-8.477 19.805-20.383 28.7-21.532 7.41-.955 20.213 11.621 27.677 11.28 7.785-.358 13.855-13.491 27.675-14.356 16.4-1.025 27.572 8.312 36.901 7.178 11.496-1.398 22.038-20.494 41.514-19.994 19.988.513 31.364 16.257 37.926 25.633 3.636 5.195 9.354 19.136 6.15 24.608-1.476 2.522-7.843 7.067-10.762 7.177-54.327 2.05-156.567-1.538-188.606-1.538z" />
        </g>
    </svg>
    
    <div class="header__right_bg"></div>
</header>