<section class="ready_get">
    <div class="ready_get__wrapper">        
        <div class="ready_get__bubble1" data-aos="fade-bubble" data-aos-delay="900"></div>
        <div class="ready_get__bubble2" data-aos="fade-bubble" data-aos-delay="1000"></div>
        <div class="ready_get__content">
            <div class="title ready_get__title">
                <span data-aos="fade-right-mini" data-aos-delay="250">Ready to get</span>
                <span data-aos="fade-right" data-aos-delay="300">started?</span>
            </div>
            <div class="ready_get__introtext" data-aos="fade-right-mini" data-aos-delay="450">
                Try it on your website
            </div>
            <div class="ready_get__button" data-aos="fade-right-mini" data-aos-delay="550">
                <a href="#" class="try_it try_it--button">
                    <span class="try_it__text">
                        Try it free
                    </span>
                    <span class="try_it__arrow-container">
                        <span class="try_it__arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25">
                                <path fill="#fff"
                                    d="M13.758 25l-2.12-2.167 8.62-8.808H.003v-3.06h20.255l-8.62-8.808 2.12-2.164 12.238 12.503z" />
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="ready_get__illustration" data-aos="fade-left"></div>
    </div>
</section>