<section class="slider">
    <div class="container">
        <div class="title slider__title">
            Works with your <br> page builder
        </div>

        <div class="slider__items">
            <div class="slider__item"><img src="../../../img/logos/el.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/vc.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/aa.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/bb.png" alt=""></div>            
            <div class="slider__item"><img src="../../../img/logos/bb.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/aa.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/aa.png" alt=""></div>
            <div class="slider__item"><img src="../../../img/logos/aa.png" alt=""></div>
        </div>
    </div>

</section>