.slider {
    margin-top: 60px;
    @include max(1400) { margin-top: 100px; }
    @include max(1199) { margin-top: 60px; }
}

.slider__title {
    text-align: center;
    @include max(370) { font-size: 32px; }
    @include max(330) { font-size: 30px; }
}

.slider__items {     
    margin: 100px -25px 0;
    @include max(500) { margin-top: 60px }
}

.slider__item {
    padding: 0 25px;
    img {
        outline: none;
        max-width: 100%;        
        margin: 0 auto;
    }
}