@for $i from 1 through 6 {
    .bubble#{$i} {
        background: url(../../../img/bubbles/bubble#{$i}.svg) no-repeat;
    }
}

.about__profile_bubble {
    margin: auto;    
    background: url(../../../img/your_profile.svg) center/contain no-repeat;
    width: 200px;
    height: 210px;
    position: relative;
    @include max(768) {
        width: 170px;
        height: 180px;
    }
    @include max(500) {
        width: 140px;
        height: 150px;        
    }
}

.profile_bubble__text {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin-top: auto;
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Open Sans';
    font-weight: 800;
    text-align: center;
    @include max(768) {
        bottom: 63px;
        font-size: 18px;
    }
    @include max(500) {
        bottom: 56px;
        font-size: 16px;
        padding-left: 10px;
    }
}   

.bubble {
    position: absolute;
    display: flex;
    line-height: 1.4;
    background-size: contain;
}

.bubble__name, .bubble__value {    
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    @include md(font-size, 18px);
    @include max(600) { font-size: 16px }
    @include max(420) { font-size: 14px }
}

.bubble__value {
    &.sm {
        font-size: 16px;
        @include md(font-size, 14px);
        @include max(600) { font-size: 13px }
        @include max(420) { font-size: 12px }
    }
}

.bubble__content {
    align-self: center;
    margin: auto;
    text-align: center;    
}

.bubble1 {
    width: 188px;
    height: 175px;
    bottom: 0%;
    left: 2%;
    z-index: 3;
    .bubble__content {
        padding-bottom: 20px;
        @include max(768) { padding-bottom: 10px; }

    }
    .bubble__name, .bubble__value {
        color: #7159f3;        
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(768) {
        width: 176px;
        height: 162px
    }
    @include max(600) {
        width: 156px;
        height: 141px;    
    }
    @include max(420) {
        width: 137px;
        height: 126px;
    }
    @include max(355) {
        bottom: -4%;
        left: -3%;
    }
}

@keyframes moving1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);        
    }
    100% {
        transform: translateX(0);
    }
}

.bubble2 {    
    width: 211px;
    height: 183px;
    left: -9%;
    bottom: 28%;
    z-index: 2;
    .bubble__content {
        padding-bottom: 20px;
        padding-right: 7px;
    }
    .bubble__name, .bubble__value {
        color: #f68e56;
    }
    &.aos-animate {
        animation: moving1 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(768) {
        width: 191px;
        height: 168px;
    }
    @include max(600) {
        width: 175px;
        height: 152px;
    }
    @include max(420) {
        width: 157px;
        height: 141px;
    }
    @include max(355) { left: -12%; }
}

.bubble3 {        
    width: 192px;
    height: 178px;
    top: -1%;
    left: 2%;
    z-index: 1;
    .bubble__content {
        padding-bottom: 10px;
    }
    .bubble__name, .bubble__value {
        color: #f87979;
    }
    &.aos-animate {
        animation: moving3 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(768) {
        width: 172px;
        height: 158px;
    }
    @include max(600) {
        width: 152px;
        height: 138px;
    }
    @include max(460) {
        top: -7%;
        left: 2%;
    }
    @include max(420) {
        width: 139px;
        height: 125px;
    }
    @include max(355) {
        top: -13%;
        left: 0%;
    }
    @include max(335) {
        top: -18%;
        left: -4%;
    }
}

@keyframes moving3 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, 5px);        
    }
    100% {
        transform: translate(0, 0);
    }
}

.bubble4 {    
    width: 192px;
    height: 193px;
    top: -27%;
    left: 30%;
    .bubble__content {
        padding-bottom: 15px;
    }
    .bubble__name, .bubble__value {
        color: #de6372;
    }
    &.aos-animate {
        animation: moving4 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(768) {
        width: 182px;
        height: 183px;
        top: -26%;
    }
    @include max(600) {
        width: 162px;
        height: 163px;
    }
    @include max(420) {
        width: 142px;
        height: 143px;
        top: -25%;
    }
    @include max(355) { top: -32%; }
}

@keyframes moving4 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);        
    }
    100% {
        transform: translateY(0);
    }
}

.bubble5 {
    width: 228px;
    height: 160px;
    top: 0%;
    right: 1%;
    .bubble__content {
        padding-bottom: 7px;
    }
    .bubble__name, .bubble__value {
        color: #7cc576;
    }
    &.aos-animate {
        animation: moving5 2500ms infinite;
        animation-delay: 1s;    
    }
    @include max(650) { right: -20px; }
    @include max(600) {
        width: 208px;
        height: 146px;
    }
    @include max(420) {
        width: 188px;
        height: 132px;
    }
    @include max(355) { right: -45px; }
    @include max(335) { top: -9%; }
}

@keyframes moving5 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, -5px);        
    }
    100% {
        transform: translate(0);
    }
}

.bubble6 {            
    width: 232px;
    height: 151px;
    right: -4%;
    top: 30%;
    z-index: 100;
    .bubble__name, .bubble__value {
        color: #00bff3;
    }
    &.aos-animate {
        animation: moving6 2500ms infinite;
        animation-delay: 1s;    
    }
    @include md(top, 34%);
    @include max(650) { right: -48px; }
    @include max(600) {
        width: 212px;
        height: 139px;
    }
    @include max(420) {
        width: 192px;
        height: 124px;
    }
    @include max(355) { right: -60px; }
}

@keyframes moving6 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);        
    }
    100% {
        transform: translateX(0);
    }
}