.about {
    margin-top: 250px;
    @include xl(margin-top, 200px);
    .container {
        @include max(390) {
            padding: 0;
            width: 100%;
        }
    }
}

.about__wrapper {
    @include row-flex();
    justify-content: center;
}

.about__view {
    @include col();
    @include size(6);
    @include size-xl(7);
    perspective: 1000px;
    position: relative;        
    &:after {
        content: '';
        width: 300px;
        height: 308px;
        background: url(../../../img/man-if-so.png) center / contain no-repeat;
        display: block;
        position: absolute;
        bottom: -18%;
        right: -10%;  
        @include xl(bottom, -32%); 
        @include max(1100) { right: 0; }
        @include max(800) {
            bottom: -26%;
            right: -20px;
            width: 250px;
            height: 258px;
        }
        @include max(768) {
            width: 190px;
            height: 198px;
            right: 0;
        }
        @include sm(right, -20px);
        @include max(460) { bottom: -36%; }
        @include max(420) { width: 160px; }
    }
    &:before {
        content: '';
        width: 165px;
        height: 400px;
        background: url(../../../img/about_arrows.png) center/contain no-repeat;
        display: block;
        position: absolute;        
        left: -145px;
        top: -38%;
        @include max(1550) {
            width: 115px;
            height: 310px;
            left: -85px;   
        }
        @include max(768) {
            width: 85px;
            height: 234px;
            left: -65px;
        }
        @include max(576) {
            width: 65px;
            height: 194px;
            left: -25px;
            top: -30%;
        }
        @include max(500) { content: none }
    }
    @include max(1440) {
        margin-left: 0;
        margin-right: 0;
    }
    @include max(1200) {
        order: 2;
        margin-top: 120px;
        margin-left: 100px;
    }
    @include max(1100) { @include size(8); margin-left: 160px; }
    @include max(1000) { @include size(9); margin-left: 120px; }    
    @include max(840) { @include size(10); }
    @include max(768) { @include size(12); margin-left: 110px; }
    @include max(620) { margin-left: 70px }
    @include sm(margin-left, 20px);
    @include max(500) { margin-left: 0 }
}

.view__per {
    background: url(../../../img/about.svg) no-repeat;
    background-size: contain;
    min-height: 417px;
    max-width: 620px;
    transform: $persp;    
    box-shadow: 1px 26px 73px #ccc;
    border: 2px solid #eaeaea;
    border-radius: 39px;
    display: flex;
    padding-right: 30px;
    @include max(768) {
        max-width: 100%;
        min-height: 380px;
    }
    @include max(650) { min-height: 360px; }
    @include max(600) { min-height: 350px; }
    @include max(576) {
        max-width: 110%;
        width: 110%;
    }
    @include max(490) { min-height: 332px }
    @include max(460) { min-height: 320px }
    @include max(440) {
        max-width: 115%;
        width: 115%;
        min-height: 300px;
    }
    @include max(370) { min-height: 290px; }
    @include max(355) { min-height: 280px; }
    @include max(345) { min-height: 270px; }
    @include max(335) { min-height: 260px; }
}

@import './bubbles';

.about__content {
    padding-top: 100px;
    @include col();
    @include size(6);
    padding-left: 50px; 
    @include max(1440) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        width: auto;
    }
    @include max(1200) {
        padding-top: 0;
        order: 1;
    }
    @include max(500) { padding: 0 15px; }
    @include max(390) { padding: 0 30px; }
}

.about__introtext {
    margin: 10px 0;
    span {
        display: block;
        font-size: 26px;
        color: $text_color;
        font-family: 'FuturaBold';
        word-spacing: -5px;
        @include max(1300) { font-size: 24px; }
        @include max(1200) { font-size: 22px; }
        @include max(768) { font-size: 20px; }
        @include max(440) { font-size: 18px; margin-left: 0 !important}
        &:nth-child(1) {
            margin-left: 20px;
            @include max(460) { margin-left: 10px }
        }
        &:nth-child(2) {
            margin-left: 40px;
            @include max(460) { margin-left: 20px }
        }
    }    
}

.about__description {
    font-family: "Open Sans";
    font-size: 20px;
    color: $text_color;
    line-height: 1.4;
    font-weight: 400;    
    & > span {
        display: block;
        @include max(390) { display: inline; }
        &:nth-child(1) {
            margin-left: 60px;
            @include max(460) { margin-left: 40px }
        }
        &:nth-child(2) {
            margin-left: 80px;
            @include max(460) { margin-left: 60px }
        }
        &:nth-child(3) {
            margin-left: 85px;
            @include max(460) { margin-left: 65px }
        }
        &:nth-child(4) {
            margin-left: 80px;
            @include max(460) { margin-left: 60px }
        }
        &:nth-child(5) {
            margin-left: 70px;
            @include max(460) { margin-left: 50px }
        }
    }
    @include md(font-size, 18px);
    @include max(500) { font-size: 16px; }
    @include max(440) { 
        text-align: left;
        span { margin-left: 0 !important } 
    }
}

.about__button {
    margin-top: 50px;
    text-align: center;
    @include max(440) {
        margin-top: 30px;
    }
}

.try_it--watch {
    border-color: $blue;
    border: none;
    background-color: $blue;
    transition: .3s;
    padding: 15px 40px 15px 15px;
    @include max(500) {
        padding: 12px 40px 12px 15px;
    }
    &:active {
        background: $blue_hover;
        border-color: $blue_hover;
    }
    &:hover .try_it__arrow {
        animation-name: moveLeft;
    }
    .try_it__text {
        color: #fff;
        font-size: 24px;
        @include max(1200) {
            font-size: 22px;
        }
        @include max(500) {
            font-size: 20px;
        }
    }
    .try_it__arrow-container {
        margin-right: 30px;
        height: 24px;
        @include max(500) {
            height: 20px;
        }
    }
    .try_it__arrow svg{
        @include max(500) {
            height: 20px;
        }
    }
}