<section class="about">
    <div class="container">
        <div class="about__wrapper">
            <div class="about__view view">
                <div class="view__per">
                    <div class="about__profile_bubble" data-aos="fade-profile" data-aos-delay="500">
                        <div class="profile_bubble__text">Your profile</div>
                    </div>
                    <div class="bubble bubble1" data-aos="fade-about" data-aos-delay="580" data-aos-offset="-100">
                        <div class="bubble__content">
                            <div class="bubble__name">Page visits:</div>
                            <div class="bubble__value">5+ visits</div>
                        </div>
                    </div>
                    <div class="bubble bubble2" data-aos="fade-about" data-aos-delay="660">
                        <div class="bubble__content">
                            <div class="bubble__name">Time zone:</div>
                            <div class="bubble__value">Jerusalem</div>
                        </div>
                    </div>
                    <div class="bubble bubble3" data-aos="fade-about" data-aos-delay="740">
                        <div class="bubble__content">
                            <div class="bubble__name">Language:</div>
                            <div class="bubble__value">English</div>
                        </div>
                    </div>
                    <div class="bubble bubble4" data-aos="fade-about" data-aos-delay="820" data-aos-offset="300">
                        <div class="bubble__content">
                            <div class="bubble__name">Logged-in:</div>
                            <div class="bubble__value">No</div>
                        </div>
                    </div>
                    <div class="bubble bubble5" data-aos="fade-about" data-aos-delay="900" data-aos-offset="200">
                        <div class="bubble__content">
                            <div class="bubble__name">Device:</div>
                            <div class="bubble__value">Computer</div>
                        </div>
                    </div>
                    <div class="bubble bubble6" data-aos="fade-about" data-aos-delay="980">
                        <div class="bubble__content">
                            <div class="bubble__name">Location:</div>
                            <div class="bubble__value">Israel</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about__content">
                <div class="title about__title">
                    What is If<i class="material-icons if-so lg">play_arrow</i>So?
                </div>
                <div class="about__introtext">
                    <span>People are not the same,</span>
                    <span>so why show them the same content?</span>
                </div>
                <div class="about__description">
                    <span>
                        <span class="if-so-text">If<i class="material-icons if-so xs">play_arrow</i>So</span> is a
                        simple WordPress plugin,
                    </span>
                    <span>allowing you to add or replace content on your</span>
                    <span>website based on the visitors’ profile or interaction</span>
                    <span>with the site. Your visitors will engage,</span>
                    <span>convert and buy more!</span>
                </div>
                <div class="about__button">
                    <a href="#" class="try_it try_it--watch">
                        <span class="try_it__arrow-container">
                            <span class="try_it__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25">
                                    <path fill="#fff"
                                        d="M12.242 25l2.12-2.168-8.62-8.806h20.255v-3.062H5.742l8.62-8.807-2.12-2.165L.004 12.496z" />
                                </svg>
                            </span>
                        </span>
                        <span class="try_it__text">
                            Watch demo
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>