<section class="visitors">
    <div class="visitors__wrapper">
        <div class="visitors__illustration" data-aos="fade-right"></div>
        <div class="visitors__content">
            <div class="title visitors__title">
                <span data-aos="fade-left-mini" data-aos-delay="300">Make your visitors</span>
                <span data-aos="fade-left" data-aos-delay="350">feel special!</span>
            </div>
            <div class="visitors__introtext">
                <span data-aos="fade-left-mini" data-aos-delay="550">Personalization is the key</span>
                <span data-aos="fade-left-mini" data-aos-delay="650">to customer engagement</span>
            </div>
        </div>
        <div class="visitors__bubble1" data-aos="fade-bubble" data-aos-delay="1100"></div>
        <div class="visitors__bubble2" data-aos="fade-bubble" data-aos-delay="900"></div>
    </div>
</section>