<nav class="navigation">
    <a href="/" class="logo">
        <img src="../../img/logo.png" alt="logo">
    </a>
    <ul class="navigation__menu menu">
        <li class="menu__item active">
            <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">Examples</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">Pricing</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">Blog</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">Docs</a>
        </li>
    </ul>
    <div id="toggle_menu" class="navigation__toggle_menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="navigation__menu_wrapper">        
        <ul class="menu navigation__menu--mobile">
            <li class="menu__item active">
                <a href="#" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Examples</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Pricing</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Blog</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Docs</a>
            </li>
        </ul>
    </div>
    <a href="#" class="try_it">
        <span class="try_it__text">
            Try it free
        </span>
        <span class="try_it__arrow-container">
            <span class="try_it__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                    <path id="arrow" fill="#1e0547" d="M10.054 18l-1.549-1.56 6.299-6.342H.002V7.894h14.802l-6.299-6.34 1.549-1.559 8.943 9.002z" />
                </svg>
            </span>
        </span>
    </a>
</nav>