.navigation {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 11;
    @extend %header_unskew;
    @include max(1500) {    
        padding: 30px 50px;
    }
    @include max(1200) {
        padding: 30px 40px;
    }
    @include max(840) {
        padding: 30px 20px;
    }
    .try_it {
        @include max(1100) {
            display: none;
        }
    }
}

.menu {
    list-style: none;
}

.navigation__menu {    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    @include max(900) {
        padding-left: 20px;
    }
    @include max(840) {
        display: none;
    }
}

.menu__item {
    margin: 0 60px;
    padding: 5px 18px;
    transition: .3s;
    &.active {        
        background: $active_color;
        border-radius: 20px;
        a {
            color: #fff;
        }
    }
    @include max(1800) {
        margin: 0 56px;
    }
    @include max(1650) {    
        margin: 0 52px;
    }
    @include max(1550) {
        margin: 0 45px;
    }
    @include max(1400) {
        margin: 0 35px;
    }
    @include max(1300) {
        margin: 0 25px;
    }
    @include max(1200) {
        margin: 0 15px;
    }
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.35;
    //font-family: 'FuturaBold';
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        &:after {
            width: 100%;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $active_color;
        transition: width .3s;
    }

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
}

.try_it {    
    background: #fff;
    border: 2px solid $text_color;
    border-radius: 40px;
    padding: 10px 15px 10px 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none; 
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    &:hover .try_it__arrow {
        animation: move .7s ease;
    }    
}

.try_it__text {    
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;    
}

.try_it__arrow-container {
    height: 100%;
    overflow: hidden;
    margin-left: 15px;
    height: 18px;
}

.try_it__arrow {
    display: block;
    transition: .3s;
}


.navigation__menu_wrapper {
    position: fixed;
    height: 100vh;
    min-width: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff; 
    transform: translate(110%);
    transition: .4s;
    padding: 80px 30px 30px;
    box-shadow: -8px 0 24px #eaeaea;
    &.active {
        transform: translate(0)
    }
    .menu__item {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
}

.navigation__toggle_menu {
    display: none;
    margin-left: auto;
    position: relative;
    z-index: 100;
    cursor: pointer;
    @include max(840) {
        display: block;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: $active_color;
        margin: 6px 0;        
        transition: .4s;
        border-radius: 4px;
    }
    .bar1 {
        width: 30px;
    }
    .bar2 {
        width: 25px;
    }
    &.active {
        .bar1 {    
            transform: rotate(-45deg) translate(-7px, 6px);
            width: 35px;    
        }
        .bar2 {
            opacity: 0;    
        }
        .bar3 {    
            transform: rotate(45deg) translate(-8px, -8px);    
        }
    }
}