.work_explain {
    margin-top: 300px;
    @include md(margin-top, 200px);
    
}

.work_explain__wrapper {
    //@include row-flex();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 6%;
    @include max(1570) {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    @include max(1199) { order: 1; padding-left: 0;}
    @include xs(max-width, 100%);
}

.work_explain__content {    
    @include max(1570) { @include size(6); }
    @include max(1199) { @include size(7); }
    @include max(992) { @include size(8); }
    @include max(768) { @include size(9); }
    @include max(600) { @include size(12); }
}

.work_explain__illustration {    
    margin-top: 30px;
    img {
        width: 100%;
        @include xs(display, none);
    }

    @include max(1570) { @include size(6); }
    @include max(1199) {
        @include size(9);
        order: 2;
    }
    @include max(992) { @include size(10); }
    @include max(768) { @include size(12); }
    @include max(400) {
        background: url(../../../img/how_work.png) center/cover no-repeat;
        width: 100%;
        height: 410px;
    }
    @include max(370) { height: 380px; }
    @include max(340) { 
        height: 370px;
        background-position-x: 33%;    
    }
}

.work_explain__title {
    span {
        display: block;
        font-family: 'FuturaBold';
        word-spacing: -6px;
        &:nth-child(2) {
            margin-left: 36%;
        }
    }
}

.work_explain__introtext {    
    span {
        font-family: 'FuturaBold';
        font-size: 26px;
        font-weight: 700;
        line-height: 1.1;
        display: block;
        @include xl(font-size, 24px);
        @include lg(font-size, 22px);
        @include md(font-size, 20px);
        @include xs(font-size, 18px);
        
        &:nth-child(1) {
            margin-left: 135px;
            @include max(440) { margin-left: 65px }
            @include max(330) { margin-left: 50px }
        }
        &:nth-child(2) {
            margin-left: 90px;
            @include max(440) { margin-left: 30px }
        }
    }
}

.work_explain__list {
    list-style: none;
    margin-left: 60px;
    @include max(440) { margin-left: 31px; }
}

.work_explain__list_item {
    position: relative;
    margin: 50px 0;
    &:first-child {
        margin-top: 30px;
    }
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.35;    
    @include xl(font-size, 20px);
    @include md(font-size, 18px);
    @include xs(font-size, 16px);
    @include max(600) {
        margin: 25px 0;
    }
    &:nth-child(2) {
        margin-left: 40px;
        @include max(440) { margin-left: 0; }
    }

}

.list__number {    
    position: absolute;
    width: 90px;
    height: 70px;
    background: url(../../../img/how_work_list.svg) center/contain no-repeat;    
    left: -105px;        
    top: -22px;  
    @include xl(top, -11px);
    @include max(600) {
        width: 70px;
        height: 50px;
        left: -75px;
        top: -3px;
    }
    @include xs(top, -7px);
    span {
        margin: auto;
        position: absolute;
        top: 6px;
        left: -14px;
        right: 0;
        line-height: 1;
        right: 0;
        text-align: center;
        font: {
            //family: 'Helvetica85';
            family: 'Open Sans', sans-serif;
            size: 54px;
            weight: bold;
        }
        @include max(600) {
            left: -11px;
            font-size: 34px;
        }
    }
}

.work_explain__button {
    margin-top: 60px;
    text-align: center;
    @include xs(margin-top, 30px);
}