<section class="work_explain">    
    <div class="work_explain__wrapper">
        <div class="work_explain__content">        
            <div class="title work_explain__title">
                <span data-aos="fade-right-mini" data-aos-delay="300">How does it</span>
                <span data-aos="fade-right-mini" data-aos-delay="350">work?</span>
            </div>
            <div class="work_explain__introtext">
                <span data-aos="fade-right-mini" data-aos-delay="500">Create dynamic content</span>
                <span data-aos="fade-right-mini" data-aos-delay="600">in minutes</span>
            </div>

            <ol class="work_explain__list list">
                <li class="work_explain__list_item" data-aos="fade-right-mini" data-aos-delay="700">
                    <div class="list__number">
                        <span>1</span>
                    </div>
                    Select a condition from the list. No coding is required.
                </li>
                <li class="work_explain__list_item" data-aos="fade-right-mini" data-aos-delay="800">
                    <div class="list__number">
                        <span>2</span>
                    </div>
                    Choose what to display if the condition
                    is met.
                </li>
            </ol>

            <div class="work_explain__button" data-aos="fade-right-mini" data-aos-delay="900">
                <a href="#" class="try_it try_it--button">
                    <span class="try_it__text">
                        Try it free
                    </span>
                    <span class="try_it__arrow-container">
                        <span class="try_it__arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25">
                                <path fill="#fff"
                                    d="M13.758 25l-2.12-2.167 8.62-8.808H.003v-3.06h20.255l-8.62-8.808 2.12-2.164 12.238 12.503z" />
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="work_explain__illustration" data-aos="fade-left" data-aos-offset="200">
            <img src="../../../img/how_work.png" alt="how does it work?">
        </div>        
    </div>
</section>