<section class="reasons">
    <div class="reasons__wrapper">
        <div class="reasons__illustration" data-aos="fade-left"></div>
        <div class="container">
            <div class="reasons__content">        
                <div class="title reasons__title">
                    <span data-aos="fade-right-mini" data-aos-delay="300">3 reasons</span>
                    <span data-aos="fade-right-mini" data-aos-delay="350">Why users love</span>
                    <span data-aos="fade-right-mini" data-aos-delay="400">If<i class="material-icons if-so lg">play_arrow</i>So?</span>
                </div>
                
                <ul class="reasons__list">
                    <li class="reasons__list_item" data-aos="fade-right-mini" data-aos-delay="600" ><span>Set Dynamic Content</span> <span>in Minutes</span></li>
                    <li class="reasons__list_item" data-aos="fade-right-mini" data-aos-delay="650" ><span>No Coding Required</span> <span>Intuitive Interface</span></li>
                    <li class="reasons__list_item" data-aos="fade-right-mini" data-aos-delay="700" ><span>No Pageload Delay,</span> <span>Smoother User Experience</span></li>
                </ul>
            </div>
        </div>
    </div>
    
</section>