<section class="conditions">
    <div class="container">
        <div class="title conditions__title">
            The conditions
        </div>
        <div class="conditions__introtext">
            <span>Maximum flexibility</span>
            <span>segmenting your visitors</span>
        </div>

        <!-- <svg class="cond__lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 64">
            <symbol id="line1">
                <path class="line1" d="M101.71,96.33A104,104,0,0,0,12.94,38.75l.13-3.1A107.08,107.08,0,0,1,104.49,95Z"/>                
            </symbol>
            <symbol id="line2">
                <path class="line2" d="M119.54,99.73a104.41,104.41,0,0,0-28.16-40.8l2.06-2.32a107.7,107.7,0,0,1,29,42Z" />
            </symbol>
        </svg -->

        <svg class="cond__lines" viewBox="0 0 26.458332 15.875">
            <symbol id="line1">
                <path d="m -2.3887648,53.179914 c 0,0 11.7578817,-0.142613 18.0043688,11.678399" 
                transform="translate(0,-281.12499) matrix(1.1517055,0,0,1.1517055,3.2778594,220.84363)" />
            </symbol>
            <symbol id="line2">
                <path d="m 13.520468,57.272831 c 0,0 3.81342,3.200905 5.711424,8.275071" 
                transform="translate(0,-281.12499) matrix(1.1517055,0,0,1.1517055,3.2778594,220.84363)" />
            </symbol>
        </svg>

        <div class="conditions__items cond">
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/1.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title" >Geolocation</div>
                    <div class="cond__description">Set content according to the visitor’s country, city, state, continent or
                        timezone</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/2.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Start & End Date</div>
                    <div class="cond__description">Schedule content changes between a range of dates</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/3.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Schedule</div>
                    <div class="cond__description">Schedule content according to the time of the day and day of the week
                </div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/4.png" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Browser Language</div>
                    <div class="cond__description">Attract attention with a message in your visitor’s language</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/5.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Dynamic Link</div>
                    <div class="cond__description">Generate a special link and show specific content only to visitors who
                        arrive through it</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/6.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Referral Source</div>
                    <div class="cond__description">Customize the content to visitors referred from a chosen domain or
                        webpage</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/7.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Device Type</div>
                    <div class="cond__description">Load different content on desktops, tablets, or mobiles</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/8.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Logged-in Users</div>
                    <div class="cond__description">Show or hide content if the visitor is logged in (or was logged in) to
                        your site</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/9.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Referral Source</div>
                    <div class="cond__description">Replace calls to action according to the number of visits a user visited
                        in the site</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/10.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Time Zone</div>
                    <div class="cond__description">Show different content to visitors from different time zones</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/11.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Pages visited</div>
                    <div class="cond__description">Customize the content to visitors who have been visited a chosen page on
                        your website</div>
                </div>
            </div>
            <div class="cond__item">
                <div class="cond__image">
                    <div class="line1" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line1"/></svg>
                    </div>
                    <div class="line2" data-aos="draw-line">
                        <svg class="cond__lines" viewBox="0 0 26.458332 15.875"><use xlink:href="#line2" /></svg>
                    </div>
                    <img src="../../../img/conditions/12.svg" alt="" data-aos="fade-up-mini" data-aos-delay="50">
                </div>
                <div class="cond__content" data-aos="fade-up-mini" data-aos-delay="150" data-aos-duration="300" >
                    <div class="cond__title">Page URL</div>
                    <div class="cond__description">Set content changes depending on the page URL</div>
                </div>
            </div>
        </div>
    </div>
</section>