.conditions {
    margin-top: 200px;
}

.conditions__items {
    margin-top: 80px;
    @include row-flex();
}

.cond__item {
    @include col();
    @include size(4);
    @include size-lg(6);
    @include size-sm(12);
    margin-top: 60px;
    margin-bottom: 70px;    
    display: flex;
    flex-direction: column;
}

@each $num, $color in $linesColors {
    .cond__item:nth-child(#{$num}) {
        .line1, .line2 {
            use {    
                fill: transparent;
                stroke: $color;
                stroke-width: .8px;
                stroke-dashoffset: 50;
                stroke-dasharray: 50;
            }
            &.aos-animate use {
                animation: drawLine 1300ms forwards;
                animation-delay: 150ms;
            }
        }
        .line2.aos-animate use {            
            opacity: .5;
            animation-delay: 400ms;
            animation-duration: 1.5s;
        }
    }
}

@keyframes drawLine {    
    to {
        stroke-dashoffset: 0;
    }
}

.conditions__title {
    text-align: center;
}

.conditions__introtext {
    text-align: center;
    span {
        display: block;
        font-family: 'FuturaBold';
        font-size: 26px;
        @include xl(font-size, 24px);
        @include lg(font-size, 22px);
        @include md(font-size, 20px);
        @include xs(font-size, 18px);
        @include max(345) { font-size: 16px; }
        &:nth-child(1) {
            margin-left: -100px
        }
        &:nth-child(2) {
            margin-left: 110px;
            @include max(380) { margin-left: 0; }
        }
    }
}

.cond__image {
    position: relative;
    margin-bottom: 45px;
    img {
        margin: 0 auto;
        display: block;
        min-height: 78px;
    }
}

.cond__lines {
    width: 110px;
    height: 64px;
    width: 100px;
    height: 60px;
    position: absolute;
    top: -50px;
    left: 50%;
}

.cond__title {
    font-family: 'FuturaBold';
    font-size: 28px;
    margin-bottom: 15px;
    word-spacing: -7px;
    text-align: center;
}

.cond__description {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    /* padding: 0 55px; */
    max-width: 245px;
    margin: 0 auto;
}