.footer {
    margin-top: 60px;
    background-color: #32325d;    
    position: relative;
    padding: 190px 0 50px;
    overflow: hidden;    
    @include max(1300) { padding-top: 130px; }
    @include lg(padding-top, 90px);
    @include max(470) { padding-top: 40px; }
    @include max(430) { padding-bottom: 80px; }
    svg {        
        position: absolute;
        z-index: 11;
        top: -30px;
        width: 100%;
        height: 190px;
        @include max(1300) { height: 130px; }
        @include lg(height, 70px);
        @include lg(top, 0);
        @include max(470) { height: 40px; }
    }
}

.footer__wrapper {
    @include row-flex();
    @include lg(justify-content, flex-start);
    @include max(520) {
        padding-left: 10%;
    }
}

.footer__col1 {
    @include col();
    @include size(3);
    position: relative;
    padding: 0 30px;
    @include max(1030) { width: calc(30% - 1.875rem) }
    @include size-lg(4);
    @include md(order, 1);
    @include size-md(6);
    @include size-sm(8);
    @include max(520) {
        @include size(12);
        margin-top: 50px;
        padding: 0;
    }
}

.footer__col2 {
    @include col();
    @include size(6);
    @include max(1030) { @include size(5); }
    @include size-lg(6);
    @include md(order, 3);
    @include size-md(12);
    @include md(margin-top, 50px);
}

.footer__col3 {
    display: flex;
    @include col();
    @include size(3);
    @include lg(margin-top, 50px);
    @include md(order, 2);
    @include md(margin-top, 0);
    @include size-md(6);
    @include size-sm(4);
    @include max(520) {
        @include size(12);
        margin-top: 50px;
    }
}

.footer__logo {
    margin-top: -27px;
    margin-bottom: 20px;
    a {
        display: block;
        cursor: pointer;
    }
    svg {
        position: static;
        width: 135px;
        height: 43px !important;
    }
}

.footer__slogan {
    color: #fff;
    font-family: "Open Sans";
    font-size: 18px;
    @include xl(font-size, 16px);
}

.footer__button {
    margin-top: 30px;
    a {
        display: inline-block;
        background: #fff;
        border-radius: 20px;
        color: $footer_color;
        font-family: 'FuturaBold';
        font-size: 16px;
        font-weight: 700;        
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 14px 8px;
        cursor: pointer;
        transition: .3s;
        @include xl(font-size, 14px);    
        @include max(775) { padding: 10px 10px 8px }
        @include sm(padding, 10px 15px 8px);
    }
}

.footer__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    @include xl(margin-top, -3px);
    @include max(520) { flex-direction: column; }
    li {
        margin: 0 2px;
        padding: 5px 18px;
        @include max(1030) {
            margin: 0;
            padding: 5px 11px;
        }
        @include max(520) { padding: 0; margin: 6px 0; display: inherit; }
    }
    a {
        text-transform: uppercase;
        color: #fff;
        font-family: 'FuturaBold';
        font-size: 18px;
        font-weight: 700;        
        text-decoration: none;
        transition: .3s;
        @include xl(font-size, 16px);
        &:hover {
            cursor: pointer;
            &:after {
                width: 100%;
            }
        }
    
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #fff;
            transition: width .3s;
        }
    }
}

.footer__copyright {
    color: #fff;
    font-family: "Open Sans";
    font-size: 13px;
    margin-top: 29px;
    text-align: center;
    @include max(520) {
        text-align: left;
    }
}

.footer__social {
    margin-top: 30px;
}

.social__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @include max(520) { justify-content: flex-start; }
    li {
        margin: 0 10px;
        @include max(520) { 
            &:first-child {
                margin-left: 0;
            }
        }
    }
    a {
        display: block;
        width: 30px;
        height: 25px;        
        @each $class, $image in $socials {
            &.#{$class} {
                background: url(../../../img/social/#{$image}.svg) center/contain no-repeat;
            }
        }
    }
}

.footer__help {
    margin: 0 auto;
    @include xl(margin-top, 3px);
    @include max(520) { margin: 0; }
}

.help__title {
    color: #fff;
    font-family: 'FuturaBold';
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 26px;
    @include xl(font-size, 16px);
    &:after {
        content: '';
        height: 9px;
        width: 170px;
        position: absolute;
        left: 0;
        bottom: -15px;
        background: url(../../../img/footer_line.png) center/contain no-repeat;
    }
}

.help__links {
    list-style: none;
    li {
        margin: 12px 0;
    }
}

.help__link {
    color: #fff;
    font: {
        family: 'Open Sans';
        size: 15px;
        weight: 400;
    }
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }    
}

.footer__go_up a {
    display: block;
    width: 45px;
    height: 100px;
    background: #fff;
    border-radius: 25px;
    position: absolute;
    bottom: -40px;
    right: 10%;
    cursor: pointer;
    @include max(1500) { right: 50px }
    &:after {
        content: '';
        background: url(../../../img/up.png) center/contain no-repeat;
        width: 25px;
        height: 22px;
        position: absolute;
        bottom: 60px;
        right: calc(10% + 6px);
        transition: .4s;
    }
    &:hover:after {
        bottom: 65px;
    }
}

