<footer class="footer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 200" preserveAspectRatio="none">
        <polygon fill="#fff" points="0,0 100,0 100,200 0,50" />
    </svg>
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__col1">
                <div class="footer__logo">
                    <a href="/">
                        <!-- <img src="../../../img/footer_logo.png" alt="logo"> -->
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 42.55 14.21">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #fff;
                                    }
                                    .arrow {
                                        fill: #fd5b56;                                        
                                    }
                                </style>
                            </defs>
                            <title>IfSo-Logo</title>
                            <path class="cls-1"
                                d="M25.17,15h4.18a2.57,2.57,0,0,0,.15.9c.24.66.91,1,2,1s1.72-.42,1.72-1.24a.91.91,0,0,0-.58-.8,20.38,20.38,0,0,0-2.34-.76A12.58,12.58,0,0,1,27.2,13a3.08,3.08,0,0,1-1.5-2.76,4,4,0,0,1,1.69-3.42,6.33,6.33,0,0,1,3.78-1.06,6.89,6.89,0,0,1,3.9,1,4.05,4.05,0,0,1,1.76,3.45H32.88a1,1,0,0,0-.49-1.08,2.17,2.17,0,0,0-1.24-.34c-1,0-1.52.3-1.5.91,0,.42.43.76,1.26,1l2.68.68a7.2,7.2,0,0,1,2.62,1.22,3.33,3.33,0,0,1,1.19,2.69,4,4,0,0,1-2,3.67,8.22,8.22,0,0,1-4.28,1,7.47,7.47,0,0,1-3.55-.82A4.3,4.3,0,0,1,25.17,15Z"
                                transform="translate(-6.43 -5.72)" />
                            <path class="cls-1"
                                d="M49,14.67a5.12,5.12,0,0,1-1.3,3.6,5.25,5.25,0,0,1-4.08,1.58,5.28,5.28,0,0,1-4.09-1.58,5.11,5.11,0,0,1-1.29-3.6,5.12,5.12,0,0,1,1.29-3.61A5.31,5.31,0,0,1,43.6,9.5a5.28,5.28,0,0,1,4.08,1.56A5.12,5.12,0,0,1,49,14.67Zm-3.77,0c0-1.63-.54-2.44-1.61-2.44S42,13,42,14.67s.54,2.45,1.62,2.45S45.21,16.3,45.21,14.67Z"
                                transform="translate(-6.43 -5.72)" />
                            <path class="cls-1" d="M6.43,19.6V6h4.18V19.6Z" transform="translate(-6.43 -5.72)" />
                            <path class="cls-1"
                                d="M13.33,19.6V12.06H11.79V9.74h1.54A3.59,3.59,0,0,1,14.11,7a2.9,2.9,0,0,1,1.53-.8A8.57,8.57,0,0,1,17.39,6c.22,0,.5,0,.86,0l.83,0V8.7a6.19,6.19,0,0,1-.91-.13,1.4,1.4,0,0,0-.94.24,1.23,1.23,0,0,0-.22.93h2v2.32h-1.9V19.6Z"
                                transform="translate(-6.43 -5.72)" />
                            <polygon class="arrow" points="18.94 7.68 14.01 3.74 14.01 11.63 18.94 7.68" />
                        </svg>
                    </a>
                </div>
                <div class="footer__slogan">
                    Content personalization WordPress plugin
                </div>
                <div class="footer__button">
                    <a href="#">Download now</a>
                </div>
            </div>

            <div class="footer__col2">
                <ul class="footer__menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
                <div class="footer__social social">
                    <ul class="social__menu">
                        <li class="social__item"><a href="#" class="social__link ln"></a></li>
                        <li class="social__item"><a href="#" class="social__link yt"></a></li>
                        <li class="social__item"><a href="#" class="social__link tw"></a></li>
                        <li class="social__item"><a href="#" class="social__link fb"></a></li>
                        <li class="social__item"><a href="#" class="social__link inst"></a></li>
                    </ul>
                </div>
                <div class="footer__copyright">
                    Copyright ©2020 If > So. All rights reserved.
                </div>
            </div>

            <div class="footer__col3">
                <div class="footer__help help">
                    <div class="help__title">
                        Need help?
                    </div>
                    <ul class="help__links">
                        <li><a href="#" class="help__link">Documentation</a></li>
                        <li><a href="#" class="help__link">Pre-sale Questions</a></li>
                        <li><a href="#" class="help__link">FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__go_up">
                <a href="#"></a>
            </div>
        </div>
    </div>
</footer>