@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

@font-face {
	font-family: 'Futura';
	src: url($font_path + 'FUTURA.eot');
	src: local('☺'), url($font_path + 'FUTURA.woff') format('woff'), url($font_path + 'FUTURA.ttf') format('truetype'), url($font_path + 'FUTURA.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaBold';
	src: url($font_path + 'AG_Futura_Bold.eot');
	src: local('☺'), url($font_path + 'AG_Futura_Bold.woff') format('woff'), url($font_path + 'AG_Futura_Bold.ttf') format('truetype'), url($font_path + 'AG_Futura_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica85';
	src: url($font_path + 'Helvetica85Heavy.eot');
	src: local('☺'), url($font_path + 'Helvetica85Heavy.woff') format('woff'), url($font_path + 'Helvetica85Heavy.ttf') format('truetype'), url($font_path + 'Helvetica85Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
