h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

* {
    box-sizing: border-box;
    font-family: 'Futura';
    color: $text_color;
}

body {
    /* overflow-x: hidden; */
}

.wrapper {
    overflow-x: hidden;
}

.title {
    color: $text_color;
    font-size: 60px;
    font-family: 'FuturaBold';
    font-weight: 700;
    line-height: 1;
    @include max(1300) {
        font-size: 56px;
    }
    @include max(1200) {
        font-size: 52px
    }
    @include max(600) {
        font-size: 46px;
    }
    @include max(500) {
        font-size: 40px;
    }
    @include max(430) {
        font-size: 36px;
    }
    @include max(340) {
        font-size: 32px !important;
        span { font-size: 32px !important; }
    }
}

.if-so {    
    color: #fd5b56;    
    &-text {
        font-family: 'FuturaBold';        
    }
    &.lg {
        font-size: 40px;
        margin: 0 -7px;
        @include max(1300) {
            font-size: 36px;
        }
        @include max(1200) {
            font-size: 32px
        }
        @include max(600) {
            font-size: 26px;
            margin: 0 -5px;
        }
        @include max(430) {
            font-size: 22px;
            margin: 0 -4px;
        }
    }
    &.xs {
        margin: 0 -3px;
        font-size: 16px;
        @include md(font-size, 13px);
    }
}

.overflow-hidden {
    overflow: hidden;
}

@keyframes move {
    0% {
        transform: translate(0)
    }
    25% {
        transform: translate(50%);
        opacity: .5;
    }
    50% {
        transform: translate(110%);
        opacity: 0;
    }
    51% {
        transform: translate(-110%);        
    }
    60% {
        transform: translate(-50%);
        opacity: .5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(0)
    }
    25% {
        transform: translate(-50%);
        opacity: .5;
    }
    50% {
        transform: translate(-110%);
        opacity: 0;
    }
    51% {
        transform: translate(110%);        
    }
    60% {
        transform: translate(50%);
        opacity: .5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}